@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Music Store</h1>
</div>

<p>App functionalities: </p> <br />
<div style="position:relative; left:80px; top:2px;">
    <p>Create XML files by filling a form - single item: <a style = "color:#b7a848" asp-action="Form" asp-controller="Pages">Create new single entity</a></p>
    <p>Create XML files by filling a form - all items:  <a style = "color:#b7a848" asp-action="Create" asp-controller="Pages">Create new single entity</a></p>
    <p>Track status of DB and files: <a style = "color:#b7a848" asp-action="LoadFiles" asp-controller="Pages">Create new single entity</a></p>
</div>

